/*Javier Carrasco Arango : UO294532*/
/*Especificidad (0,1,1)*/
input[type="submit"]{
    width:98%;
    margin:0.5em;
    font-size: larger;
}
/*Especificidad (0,0,1)*/
form,input{
    width:96%;
    margin:0em 0.5em;
}
/*Especificidad (0,0,1)*/
form,section,article{
    margin-bottom: 0.5em;
}
/*Especificidad (0,0,1)*/
article{
    width:98%;
    border: 0.2em solid #afafaf;
    border-radius: 0.5em;
}
/*Especificidad (0,0,1)*/
article *{
    margin:auto 1em;
}
/*Especificidad (0,0,1)*/
table{
    margin:0.5em;
}